<div [formGroup]="amountForm" class="selector-field">
    <label class="sr-only" for="amount-select" i18n="settings.amount-units|Amount units">Amount units</label>
    <select id="amount-select" formControlName="mode" class="custom-select custom-select-sm form-control-secondary form-control mx-auto" (change)="changeMode()">
        <option value="btc" i18n="shared.btc|BTC">BTC</option>
        <option value="sats" i18n="shared.sats">sats</option>
        <option value="fiat" i18n="shared.fiat|Fiat">Fiat</option>
    </select>
</div>
